Tags:
    {% for tag in tags %}
        <span class="link-tag-article">
            <a href="{{ path('list_of_articles_by_tag', {'name' : tag.name}) }}">{{ tag.name }}</a>
        </span>
    {% endfor %}
