{% extends 'page_default.html.twig' %}

{% block page_title %}Articles{% endblock %}

{% block main %}
    <div class="block block--page-list">
        <div class="block-content">
            <div class="list list--page-list">
                {{ include('block/message.html.twig') }}
                {% for article in articles %}
                    <div class="list-item">
                        {{ include('article/viewMode/teaser.html.twig', {'article' : article}) }}
                    </div>
                {% else %}
                    <p>no  found articles!</p>
                {% endfor %}
                {{ include('block/pagination.html.twig', {'articles' : articles}) }}
            </div>
        </div>
    </div>
{% endblock %}
