{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login</h1>

    {{ form_start(user_login) }}
    {{ form_widget(user_login) }}
    <button type="submit" class="btn btn-default">Login</button>
    {{ form_end(user_login) }}

    <a href="{{ path('user_registration') }}">Register</a>
{% endblock %}
