{% extends 'page_default.html.twig' %}

{% block title %}Registration{% endblock %}
{% block page_title %}Registration{% endblock %}

{% block main %}
    <div class="block block--security-register security-user">
        <div class="block-content">
            {{ form_start(user_registration) }}
            {{ form_widget(user_registration) }}
                <input type="submit" class="btn-success" value="submit" name="submit" />
            {{ form_end(user_registration) }}
        </div>
    </div>
{% endblock %}
